.expert-section{
	position: relative;
	background: url(../img/expert-section/clouds.png);
	background-position-y: -40%;
	background-size: contain;
	background-repeat: no-repeat;
	height: 1100px;
	margin-top: 100px;
}

.image-rhombus-expert-section{
	height: 1200px;
	width: 1200px;
	position:absolute;
	left: 50%;
	transform: translateX(120px);
	z-index: 1;
}
.container--expert-section {
	h2{
		text-align: center;
		font-size: 72px;
		font-weight: 700;
		color: #000;
		text-transform: uppercase;
		padding: 40px 0;

}
}


.rhombus-first{
	transform: rotate(45deg)translateX(-50%);
	height: 780px;
	width: 780px;
	position:absolute;
	box-shadow: 0px 0px 76px -3px rgba(0,0,0,0.75);
	left: 50%;
	background-size: cover;
	background-position: center;
}
.rhombus-second{
	transform: rotate(45deg) translateX(-1161px);
	height: 780px;
	width: 780px;
	position:absolute;
	box-shadow: 0px 0px 76px -3px rgba(0,0,0,0.75);
	left: 50%;
	top: 1026px;
	background: #fff;
	z-index: 1;

  }
.rhombus-third{
	transform: rotate(45deg) translateX(-1208px);
	height: 500px;
	width: 500px;
	position: absolute;
	box-shadow: 0 0 76px -3px rgba(0,0,0,.75);
	left: 50%;
	top: 704px;
}

.rhombus-fourth{
	transform: rotate(45deg)translateX(-50%);
	height: 600px;
	width: 600px;
	position:absolute;
	box-shadow: 0px 0px 76px -3px rgba(0,0,0,0.75);
	left: 50%;
	top: 600px;
	//background-color: red;
}


.rhombus-fivth{
	transform: rotate(45deg)translateX(-50%);
	height: 800px;
	width: 800px;
	position:absolute;
	box-shadow: 0px 0px 76px -3px rgba(0,0,0,0.75);
	left: 50%;
	top: 430px;
}

.item-description--expert-section{
	background-color: #3b3b3b;
	padding: 15px;
	box-sizing: border-box;
	height: 125px;
	h3{
		text-align: left;
		font-size: 21px;
		font-weight: bold;
		color: #fda625;
		padding-bottom: 10px;
		position: relative;
		margin-bottom: 5px;
		&:after{
			content:'';
			width: 60%;
			height: 1px;
			position:absolute;
			display: block;
			bottom:2px;
			background: linear-gradient(to right, #ffffff 0%,#fda625 100%);
		}
	}
	.description-text{
		font-size: 15px;
		line-height: 1.2;
	}
}
.item-description__text--expert-section{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	color: #fff;
}
/*===play button==*/

@keyframes spin {
	to { transform: rotate(360deg); }
}

.stroke-dotted {
	opacity: 0;
	stroke-dasharray: 4,5;
	stroke-width: 1px;
	transform-origin: 50% 50%;
	animation: spin 4s infinite linear;
	transition: opacity 1s ease,
	stroke-width 1s ease;
}
.stroke-solid {
	stroke-dashoffset: 0;
	stroke-dashArray: 300;
	stroke-width: 4px;
	transition: stroke-dashoffset 1s ease,
	opacity 1s ease;
}

.icon {
	transform-origin: 50% 50%;
	transition: transform 200ms ease-out;
}

// Hover
#play:hover {
	.stroke-dotted {
		stroke-width: 4px;
		opacity: 1;
	}
	.stroke-solid {
		opacity: 0;
		stroke-dashoffset: 300;
	}
	.icon {
		transform: scale(1.05);
	}
}

#play {
	cursor: pointer;
}
.item-image--expert-section__hover{
	display: none;
	transition: 0.25s;
}
.item-image--expert-section {
	position: relative;
	transition: 0.25s;
	&:after{
		position: absolute;
		content:'';
		top: 0;
		opacity: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.3);
		transition: 0.25s;
	}
	&:hover {
		cursor:pointer;
		transition: 0.25s;
		&:after {
			transition: 0.25s;
			opacity: 1;
		}
		.item-image--expert-section__hover{
			display: block;
			transition: 0.25s;
		}
	}
}
/*===========*/
$line-thickness: 2px; // Even number
$dims: 150px;
$color: #fda625;
$duration: .4s;
$delay: $duration;
$color-change-delay: $duration * 5;
$offset: $line-thickness / 2; // Offsets the line-thickness

svg {
	fill: red;
	stroke: black;
	stroke-width: .5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 200, 200;
	stroke-dashoffset: -39;
	transition: stroke-dashoffset 1s;
}



.square {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	margin: auto;
	width: $dims;
	height: $dims;
	animation-name: rotate;
	animation-duration: $duration;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-delay: $delay * 2;
}

.line {
	background: $color;
	position: absolute;
	animation-duration: $duration;
	animation-timing-function: linear;
	animation-fill-mode: forwards;

	&.vertical {
		margin-left: -($line-thickness / 2);
		width: $line-thickness;
		animation-name: vertical-draw-line,
		color-change,
		color-change-none;
	}

	&.horizontal {
		margin-top: -($line-thickness / 2);
		height: $line-thickness;
		animation-name: horizontal-draw-line,
		color-change,
		color-change-none;
	}

	// Create square
	&.one {
		left: 0;
		top: 0;
		animation-delay: $delay * 0,
		$color-change-delay,
		$duration * 11;
	}

	&.two {
		bottom: 0;
		left: 0;
		animation-delay: $delay * 1,
		$color-change-delay,
		$duration * 11;
	}

	&.three {
		bottom: 0;
		right: 0;
		animation-delay: $delay * 2,
		$color-change-delay,
		$duration * 11;
	}

	&.four {
		top: 0;
		right: 0;
		animation-delay: $delay * 3,
		$color-change-delay,
		$duration * 11;
	}



}



@keyframes vertical-draw-line {
	0% {height: 0;}
	100% {height: $dims;}
}

@keyframes horizontal-draw-line {
	0% {width: 0;}
	100% {width: $dims;}
}

@keyframes rotate {
	0% {transform: rotate(0);}
	100% {transform: rotate(45deg);}
}

@keyframes color-change {
	0% {background: $color;}
	100% {background: #8c8c8c;}
}



@keyframes color-change-border {
	0% {border-color: $color;}
	100% {border-color: #8c8c8c;}
}

/*========================*/
.triangle__container {
	position: absolute;
	width: 25%;
	left:50%;
	top:65%;
	transform:rotate(90deg) translate(-50%);
}
.triangle {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#triangle {
	animation: draw 2s linear forwards;
	stroke-dasharray: 830;
	stroke-dashoffset: 830;
}
#shrooms path{
	animation: draw 3s 1.5s linear forwards;
	stroke-dasharray: 150;
	stroke-dashoffset: 150;
}
.dots, #lines {
	animation: opacity 1s 1.8s linear forwards;
	opacity: 0;
}
@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes opacity {
	to {
		opacity: 1;
	}
}

/*=========================FOR_WHO=======================================================*/

.for-whom-block{
	position:relative;
	z-index: 2;
	margin-top: 50px;
	&__title{
		font-size: 43px;
	}
	.upper-case{
		font-size: 86px;
		color: #fe9923;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__description{
		ul{
			li{
				margin-bottom: 8px;
				font-weight: bold;
				display: flex;
				font-size: 23px;
				line-height: 1.5;
				align-items: center;
				.fa{
					color: #fe9923;
					padding-right: 10px;
				}

			}
		}
	}
}
.btn.btn--expert{
	display: block;
	text-align: center;
	text-transform: uppercase;
	width: 230px;
	height: 45px;
	background-color: $red-secondary;
	color: #fff;
	font-size: 18px;
	line-height: 45px;
	transition: .25s;
	margin-left: 33px;
	&:hover{
		background-color: $red-primary;
		color: #eee;
		transition: .25s;
	}
}