.header{
  position: fixed;
  padding: 25px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid #878687;
  transition: .25s;
    @media (max-width: 1366px ){
        padding: 10px 0;
    }
    @media (max-width: $mobile-big-width ){
        padding: 5px 0;
    }
    .container{
    .nav-header{
      ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width:$container-width ) {
          justify-content: space-around;
        }
        @media (max-width:$desktop-width) {
          justify-content: space-between;
        }
        li{
            &:nth-child(2){
                @media (max-width:$desktop-width) {
                    display: none;
                }
            }
            &:nth-child(3){
                @media (max-width:$desktop-width) {
                    display: none;
                }
            }
            &:nth-child(4){
                @media (max-width:$desktop-width) {
                    display: none;
                }
            }
            &:nth-child(6){
                @media (max-width:$desktop-width) {
                    display: none;
                }
            }
            &:nth-child(7){
                @media (max-width:$desktop-width) {
                    display: none;
                }
            }
            &:nth-child(8){
                @media (max-width:$desktop-width) {
                    display: none;
                }
            }
            &:nth-child(9){
            }
          .logo{
            img{
              width: 80px;
                @media (max-width: $mobile-big-width ){
                    width: 60px;
                }
            }
          }
        }
      }
    }
  }
}

.header-link{
  color: #fff;
  font-family: $mpr;
  font-size: 18px;
  line-height: 18px;
  position: relative;
  transition: .25s;
  text-transform: uppercase;
  @media (max-width:$desktop-width) {
    display: none;
  }
  &:hover{
    color: $orange;
    transition: .25s;
  }
  &:after,
  &:before{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: $orange;
    transition: .25s;
    left: 50%;
    transform: translateX(-50%);
  }
}

.header-link:after{
  top: -13px;
}
.header-link:before{
  bottom: -10px;
}
.header-link:hover:after{
  width: 100%;
  transition: .25s;
}
.header-link:hover:before{
  width: 100%;
  transition: .25s;
}

.hamburger_item{
  display: none;
  @media (max-width:$desktop-width) {
    display: block;
  }
}
.header--active{
  background-color: rgba(0,0,0,.5);
  padding: 5px 0;
  transition: .25s;
}

.hamburger .hamburger-box .hamburger-inner{
    background-color: #fff;
    display: none;
    @media (max-width:$desktop-width) {
        display: block;
    }
    &:after, &:before{
        content: '';
        background-color: #fff;
    }
}