.study-section{
  position:relative;
  height: 1200px;
}
.rhombus-study{
  transform: rotate(45deg) translateX(-87%);
  height: 1500px;
  width: 1500px;
  position:absolute;
  box-shadow: 0px 0px 76px -3px rgba(0,0,0,0.75);
  left: 50%;
  background-size: cover;
  background-position: center;
  top: 580px;
}
.birds-study{
  position:absolute;
  right: 0;
  top:1300px;
}

.cloud-study{
  position:absolute;
  left: 0;

  top: -900px;
}
.container--study {
  width: 70%;
  margin-top: -73px;
}
.container--study__title{
  font-size: 72px;
  color: #000;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -80px;
  margin-bottom: 30px;
}
/*
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container--study {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .container--study {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
*/

.container--study {
  &::after, &::before {
    content: '';
    display: table;
    clear: both;
  }
}

/*Timeline*/

#timeline {
  position: relative;
 /* padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;*/
  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 70%;
    width: 4px;
    background: #a8a8a8;
  }
}

@media only screen and (min-width: 1170px) {
  #timeline {
  /*  margin-top: 3em;
    margin-bottom: 3em;*/
    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.timeline-block {
  position: relative;
  //margin: 2em 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .timeline-year {
    &.right strong, &.left strong {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: -3px;
    }
    &.right strong {
      margin-left: 50px;
    }
    &.left strong {
      margin-left: -75px;
    }
  }
}
/*

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 4em 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 1169px) {
  .timeline-block .timeline-year {
    margin-left: 4px;
    &.right strong {
      display: block;
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 0px;
    }
    &.left strong {
      display: block;
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 0px;
      margin-left: -5px;
      margin-top: -40px;
      background: #fff;
    }
    &.right strong {
      margin-left: -5px;
      margin-top: -40px;
      background: #fff;
    }
  }
}
*/
.timeline-about-speacker {
  &--right {
    //float: right;
  }
}
.timeline-year {
  //background: #2aa8e0;
  background: url(../img/study-section/micro.png);
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -32px;
  width: 54px;
  height: 70px;

}

/*@media only screen and (min-width: 1170px) {
  .timeline-year {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    !* Force Hardware Acceleration in WebKit *!
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}*/

.timeline-about-speacker__title {
  font-size: 27px;
  text-align: center;
  color: #fd992a;
  font-weight: bold;
}



.timeline-year--micro-first {
  margin-top: 181px;

}

.timeline-year--micro-second {
  margin-top: 50px;

}
.timeline-year--micro-third{
  margin-top: -100px;

}
.timeline-year--micro-fourth {
  margin-top: -260px;

}


.timeline-content--first {

  &:before{
    margin-top: 181px;
  }
}

.timeline-content--second {
  top: -185px;
  &:before{
    margin-top: 250px;
  }
}

.timeline-content--third {
  top: -295px;
  &:before{
    margin-top:200px;
  }
}
.timeline-content--fourth {
  top: -420px;
  &:before{
    margin-top: 181px;
  }
}

.timeline-about-speacker__date{
  font-size: 22px;
  color: #000;
  font-weight: 700;
  border-bottom: 1px solid #cecece;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.timeline-about-speacker__time{
  font-size: 23px;
  text-align: center;
}
.timeline-about-speacker__description{
  background: #7a7c7c;
  padding:10px;
  box-sizing: border-box;
  .title-inner{
    font-size: 22px;
    color: #fd992a;
    line-height: 1.2;
    padding-bottom: 5px;
  }
  .description{
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
  }
}

.timeline-about-speacker{
  display: flex;
  align-items: center;
  text-align: left;
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  //border:1px solid #7a7c7c;
  border-radius: 0.25em;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  display: inline-block;
  &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #7a7c7c;
  }
  .percent {
    font-size: 2.5rem;
    font-weight: 300;
  }
  h5 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    width: 45%;
    &::before {
      //top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: #7a7c7c;
    }
  }
  .timeline-block:nth-child(even) .timeline-content {
    float: right;
    &::before {
      //top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: #7a7c7c;
    }
  }
}


[data-anime-left] {
  opacity: 1;
  transition: .3s;

}

[data-anime-right] {
  opacity: 1;
  transition: .3s;

}
.btn--study{
  width: 300px;
  z-index: 1;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-100%);
}