mixin congrats-header
    header.congrats-header
        nav.congrats-nav.container
            ul
                li
                    a(href="/")
                        img(src="img/congrats-page/arrow-congrats-header.png")
                    a(href='/')
                        img(src="img/header/logo.png").logo
                li
                    div.number-phone
                        div.number-phone--icon
                            i(class="fa fa-phone" aria-hidden="true")
                        a(href="tel:+38 (044) 360-16-96") +38 (044) 360-16-96
                    a(href="" target="_blank" rel="nofollow").btn купить курсь