mixin expert-section()
	section.expert-section
		img.image-rhombus-expert-section(src='../img/expert-section/rhombus-section2.png')
		//div.rhombus-first.rhombus-first--exspert
		div.rhombus-second.rhombus-second--exspert
		div.rhombus-third.rhombus-third--exspert
		//div.rhombus-fourth.rhombus-fourth--exspert
		div.rhombus-fivth.rhombus-fivth--exspert
		div.container.container--expert-section
			h2  наши эксперты
			.owl-carousel.owl-theme
				.item.item--first
					div.item-image--expert-section
						img.item-image--expert-section(src='../img/expert-section/1.png')
						div.item-image--expert-section__hover
							.square
								.line.one.vertical
								.line.two.horizontal
								.line.three.vertical
								.line.four.horizontal
							.triangle__container
								.triangle
									svg#triangle(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 303.47 325.349', enable-background='new 0 0 303.47 325.349', xml:space='preserve')
										path(fill='none', stroke='#fff', stroke-width='4', stroke-miterlimit='10', d='M146.944,241.118')
										polyline(fill='none', stroke='#fff', stroke-width='4', stroke-miterlimit='10', points='147.216,241.118 47.429,241.108 \
										147.095,47.297 246.73,241.127 147.216,241.118 ')

					div.item-description--expert-section
						h3
							span Алексей ВОЛКОВСКИЙ

						div.item-description__text.item-description__text--expert-section
							span.description-text New Business Director UAMASTER Chief Marketing Officer ESM.one
							span.play
								svg#play(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='30px', width='30px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
									path.stroke-solid(fill='none', stroke='orange', d='M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7\
									C97.3,23.7,75.7,2.3,49.9,2.5')
									path.stroke-dotted(fill='none', stroke='white', d='M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7\
									C97.3,23.7,75.7,2.3,49.9,2.5')
									path.icon(fill='white', d='M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z')


				.item.item--second
					div.item-image--expert-section
						img.item-image--expert-section(src='../img/expert-section/2.png')
						div.item-image--expert-section__hover
							.square
								.line.one.vertical
								.line.two.horizontal
								.line.three.vertical
								.line.four.horizontal
							.triangle__container
								.triangle
									svg#triangle(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 303.47 325.349', enable-background='new 0 0 303.47 325.349', xml:space='preserve')
										path(fill='none', stroke='#fff', stroke-width='4', stroke-miterlimit='10', d='M146.944,241.118')
										polyline(fill='none', stroke='#fff', stroke-width='4', stroke-miterlimit='10', points='147.216,241.118 47.429,241.108 \
																147.095,47.297 246.73,241.127 147.216,241.118 ')
					div.item-description--expert-section
						h3
							span Роман ЯКОВЛЕВ

						div.item-description__text.item-description__text--expert-section
							span.description-text New Business Director UAMASTER Chief Marketing Officer ESM.one
							span.play
								svg#play(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='30px', width='30px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
									path.stroke-solid(fill='none', stroke='orange', d='M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7\
														C97.3,23.7,75.7,2.3,49.9,2.5')
									path.stroke-dotted(fill='none', stroke='white', d='M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7\
														C97.3,23.7,75.7,2.3,49.9,2.5')
									path.icon(fill='white', d='M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z')

				.item.item--third
					div.item-image--expert-section
						img.item-image--expert-section(src='../img/expert-section/3.png')
						div.item-image--expert-section__hover
							.square
								.line.one.vertical
								.line.two.horizontal
								.line.three.vertical
								.line.four.horizontal
							.triangle__container
								.triangle
									svg#triangle(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 303.47 325.349', enable-background='new 0 0 303.47 325.349', xml:space='preserve')
										path(fill='none', stroke='#fff', stroke-width='4', stroke-miterlimit='10', d='M146.944,241.118')
										polyline(fill='none', stroke='#fff', stroke-width='4', stroke-miterlimit='10', points='147.216,241.118 47.429,241.108 \
																147.095,47.297 246.73,241.127 147.216,241.118 ')
					div.item-description--expert-section
						h3
							span Александр СИМАН

						div.item-description__text.item-description__text--expert-section
							span.description-text New Business Director UAMASTER Chief Marketing Officer ESM.one
							span.play
								svg#play(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='30px', width='30px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
									path.stroke-solid(fill='none', stroke='orange', d='M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7\
														C97.3,23.7,75.7,2.3,49.9,2.5')
									path.stroke-dotted(fill='none', stroke='white', d='M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7\
														C97.3,23.7,75.7,2.3,49.9,2.5')
									path.icon(fill='white', d='M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z')

				.item.item--third
					div.item-image--expert-section
						img.item-image--expert-section(src='../img/expert-section/4.png')
						div.item-image--expert-section__hover
							.square
								.line.one.vertical
								.line.two.horizontal
								.line.three.vertical
								.line.four.horizontal
							.triangle__container
								.triangle
									svg#triangle(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 303.47 325.349', enable-background='new 0 0 303.47 325.349', xml:space='preserve')
										path(fill='none', stroke='#fff', stroke-width='4', stroke-miterlimit='10', d='M146.944,241.118')
										polyline(fill='none', stroke='#fff', stroke-width='4', stroke-miterlimit='10', points='147.216,241.118 47.429,241.108 \
																147.095,47.297 246.73,241.127 147.216,241.118 ')
					div.item-description--expert-section
						h3
							span Игорь ПЕРТЦИЯ

						div.item-description__text.item-description__text--expert-section
							span.description-text New Business Director UAMASTER Chief Marketing Officer ESM.one
							span.play
								svg#play(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', height='30px', width='30px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
									path.stroke-solid(fill='none', stroke='orange', d='M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7\
														C97.3,23.7,75.7,2.3,49.9,2.5')
									path.stroke-dotted(fill='none', stroke='white', d='M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7\
														C97.3,23.7,75.7,2.3,49.9,2.5')
									path.icon(fill='white', d='M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z')


			div.for-whom-block
				h3.for-whom-block__title
					div.lower-case Для кого
					div.upper-case курс
				div.for-whom-block__description
					ul
						li
							i.fa.fa-check(aria-hidden="true")
							span кто хочет создать ICO
						li
							i.fa.fa-check(aria-hidden="true")
							span кто хочет инвестировать в  ICO
						li
							i.fa.fa-check(aria-hidden="true")
							span собрать деньги на свой стартап
						li
							i.fa.fa-check(aria-hidden="true")
							span
								|кто хочет сделать маркетинг
								br
								| для ICO Эффективным

						li
							i.fa.fa-check(aria-hidden="true")
							span юридические аспекты ICO

				a(href='').btn.btn--expert Принять участие

