include timer
mixin intro()
    article.intro
        section.intro-content.container
            div.intro_date
                p.intro_date-date
                    |15-28 <br> фев 2018
                div.intro_date-line
                p.intro_date-course
                    |интенсивный <br>
                    span курс
            h1.title
                span криптовалюты <br>
                |и
                span  ico
                |  с нуля
            div.intro_about_course
                div.intro_about_course--item
                    p
                        span 30
                        | дней обучения
                div.intro_about_course--item
                    p
                        span 7
                        | часов практик
                div.intro_about_course--item
                    p
                        span 6
                        | online вебинаров
            div.timer
                +timer()
            p.intro_price
                | стоимость курса
                span    3700
                span  грн
            a(href="#" class="btn") купить курс




