include timer
mixin intro()
    article.intro
        section.intro-content.container
            div.intro_date
                p.intro_date-date
                    |15-28 <br> фев 2018
                div.intro_date-line
                p.intro_date-course
                    |интенсивный <br>
                    span курс
            h1.title
                span.animatable.bounceInLeft криптовалюты <br>
                |и
                span.animatable.bounceInRight  ico
                |  с нуля
            div.intro_about_course
                div.intro_about_course--item
                    p
                        span 30
                        | дней обучения
                div.intro_about_course--item
                    p
                        span 7
                        | часов практик
                div.intro_about_course--item
                    p
                        span 6
                        | online вебинаров
            div.timer
                +timer()
            //p.intro_price
                | стоимость курса
                span    3700
                span  грн
            //a(href="#" class="btn") купить курс
            div.sell-content
                i.fa.fa-angle-left.fa-angle-left--top-left(aria-hidden='true')
                a(href='buy.php').sell-button
                    div.sell-button__header ранние пташки
                    div.sell-button__price
                        span.sell-button__price__title Цена :
                        span.sell-button__price__number 2500
                            span.value грн

                    div.sell-button__to только до 25 января
        img.bottom-gradient(src='../img/intro/bottom-gradient.png')
        //.bottom-gradient




