mixin programme-section()
	section.programme-section
		div.rhombus-first-programme
		div.rhombus-second-programme
		//div.rhombus-third-programme
		div.container.container--programme
			div.container--programme__title
				h2  Программа обучения:
				h3  Как заработать на ICO и привлечь деньги в свой бизнес
			ul.container--programme__list
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/1.png')
					div.container--programme__list__item_description Криптовалюта и ICO
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как лучше разбираться в криптовалютах и зарабатывать на них?
							li
								i.fa.fa-check(aria-hidden="true")
								span Биткоин, что в нем особенного?
							li
								i.fa.fa-check(aria-hidden="true")
								span Выгоды инвестирования в
							li
								i.fa.fa-check(aria-hidden="true")
								span Как и где покупать токены?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/2.png')
					div.container--programme__list__item_description КАК Создат ICO с нуля 30 шагов
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как лучше разбираться в криптовалютах и зарабатывать на них?
							li
								i.fa.fa-check(aria-hidden="true")
								span Биткоин, что в нем особенного?
							li
								i.fa.fa-check(aria-hidden="true")
								span Выгоды инвестирования в
							li
								i.fa.fa-check(aria-hidden="true")
								span Как и где покупать токены?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/3.png')
					div.container--programme__list__item_description МАркетинг - значительная часть успеха ICO
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как лучше разбираться в криптовалютах и зарабатывать на них?
							li
								i.fa.fa-check(aria-hidden="true")
								span Биткоин, что в нем особенного?
							li
								i.fa.fa-check(aria-hidden="true")
								span Выгоды инвестирования в
							li
								i.fa.fa-check(aria-hidden="true")
								span Как и где покупать токены?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/4.png')
					div.container--programme__list__item_description юридическая сторона вопроса ICO
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как лучше разбираться в криптовалютах и зарабатывать на них?
							li
								i.fa.fa-check(aria-hidden="true")
								span Биткоин, что в нем особенного?
							li
								i.fa.fa-check(aria-hidden="true")
								span Выгоды инвестирования в
							li
								i.fa.fa-check(aria-hidden="true")
								span Как и где покупать токены?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/5.png')
					div.container--programme__list__item_description как правильно выбрать ico-проект
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как лучше разбираться в криптовалютах и зарабатывать на них?
							li
								i.fa.fa-check(aria-hidden="true")
								span Биткоин, что в нем особенного?
							li
								i.fa.fa-check(aria-hidden="true")
								span Выгоды инвестирования в
							li
								i.fa.fa-check(aria-hidden="true")
								span Как и где покупать токены?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/6.png')
					div.container--programme__list__item_description техническая сторона ICO
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как лучше разбираться в криптовалютах и зарабатывать на них?
							li
								i.fa.fa-check(aria-hidden="true")
								span Биткоин, что в нем особенного?
							li
								i.fa.fa-check(aria-hidden="true")
								span Выгоды инвестирования в
							li
								i.fa.fa-check(aria-hidden="true")
								span Как и где покупать токены?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?


