mixin programme-section()
	section.programme-section
		img.clouds-image-programme(src='../img/expert-section/clouds2.png')
		div.rhombus-first-programme
		div.rhombus-second-programme
		//div.rhombus-third-programme
		div.container.container--programme
			div.container--programme__title
				h2  Программа обучения:
				h3  Как заработать на ICO и привлечь деньги в свой бизнес
			ul.container--programme__list
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/1.png')
					div.container--programme__list__item_description Криптовалюта и ICO
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Платформы для выпуска токенов
							li
								i.fa.fa-check(aria-hidden="true")
								span Платформы для выпуска ассетов
							li
								i.fa.fa-check(aria-hidden="true")
								span С чем связана популярность токенов на Ethereum
							li
								i.fa.fa-check(aria-hidden="true")
								span Как вывести токены на криптобиржу
							li
								i.fa.fa-check(aria-hidden="true")
								span Какие существуют способы проведения ICO
							li
								i.fa.fa-check(aria-hidden="true")
								span Как принимать разные криптовалюты во время ICO
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/2.png')
					div.container--programme__list__item_description КАК Создат ICO с нуля
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Как найти правильную идею и разработать концепцию
							li
								i.fa.fa-check(aria-hidden="true")
								span Как понять ценность проекта
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оценить экономическую выгоду
							li
								i.fa.fa-check(aria-hidden="true")
								span Как заинтересовать инвестора
							li
								i.fa.fa-check(aria-hidden="true")
								span Как сформировать команду
							li
								i.fa.fa-check(aria-hidden="true")
								span Как грамотно использовать ресурсы
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/3.png')
					div.container--programme__list__item_description МАркетинг ICO
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Какие инструменты используются для маркетинга ICO
							li
								i.fa.fa-check(aria-hidden="true")
								span Как правильно посчитать бюджеты для маркетинга ICO
							li
								i.fa.fa-check(aria-hidden="true")
								span Как правильно подготовить маркетинговую стратегию
							li
								i.fa.fa-check(aria-hidden="true")
								span Как правильно выбрать подрядчика
							li
								i.fa.fa-check(aria-hidden="true")
								span Какие этапы маркетинга в ICO
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/4.png')
					div.container--programme__list__item_description юридическая сторона вопроса ICO
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как лучше разбираться в криптовалютах и зарабатывать на них?
							li
								i.fa.fa-check(aria-hidden="true")
								span Биткоин, что в нем особенного?
							li
								i.fa.fa-check(aria-hidden="true")
								span Выгоды инвестирования в
							li
								i.fa.fa-check(aria-hidden="true")
								span Как и где покупать токены?
							li
								i.fa.fa-check(aria-hidden="true")
								span Как оказаться первым и заработать на этом?
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/5.png')
					div.container--programme__list__item_description как правильно выбрать ico-проект
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Как провести  успешное ICO с минимальным бюджетом
							li
								i.fa.fa-check(aria-hidden="true")
								span Как провести базовую аналитику ICO
							li
								i.fa.fa-check(aria-hidden="true")
								span Как не потерять и заработать
							li
								i.fa.fa-check(aria-hidden="true")
								span Как сделать успешным собственный ICO проект
							li
								i.fa.fa-check(aria-hidden="true")
								span Рабочие кейсы
							li
								i.fa.fa-check(aria-hidden="true")
								span Инструкции
				li.container--programme__list__item
					img.container--programme__list__item_img(src='../img/programme-section/6.png')
					div.container--programme__list__item_description техническая сторона ICO
					div.container--programme__list__item_hover
						ul
							li
								i.fa.fa-check(aria-hidden="true")
								span Как стать крипто-инвестором
							li
								i.fa.fa-check(aria-hidden="true")
								span Как получить свои первые крипто-деньги
							li
								i.fa.fa-check(aria-hidden="true")
								span Как проинвестировать в проект
							li
								i.fa.fa-check(aria-hidden="true")
								span Как получить токены и выпустить их на крипто-биржу
							li
								i.fa.fa-check(aria-hidden="true")
								span Как выбрать платформу для выпуска токенов
							li
								i.fa.fa-check(aria-hidden="true")
								span Как проверить программистов и защититься от взлома


