mixin reviews
    article.reviews_block
        img.clouds-image-programme.clouds-image-programme--review(src='../img/expert-section/clouds2.png')
        div.reviews_roumb
        section.reviews.container
            h2 ОТЗЫВЫ
            ul.reviews_slider.owl-carousel
                li.reviews_slider--item
                    img(src="img/reviews/1.png")
                    p
                        span.reviews_title Олег Корнеев <br>
                        span.reviews_text  “ Отличный спикер! Все очень доступно и понятно объясняет, видно что человеку не все ровно. На все свои вопросы я нашел ответы при том, что изначально знания в этой области были нулевые. Спасибо за курс! “
                li.reviews_slider--item
                    img(src="img/reviews/1.png")
                    p
                        span.reviews_title Олег Корнеев <br>
                        span.reviews_text  “ Отличный спикер! Все очень доступно и понятно объясняет, видно что человеку не все ровно. На все свои вопросы я нашел ответы при том, что изначально знания в этой области были нулевые. Спасибо за курс! “
                li.reviews_slider--item
                    img(src="img/reviews/1.png")
                    p
                        span.reviews_title Олег Корнеев <br>
                        span.reviews_text  “ Отличный спикер! Все очень доступно и понятно объясняет, видно что человеку не все ровно. На все свои вопросы я нашел ответы при том, что изначально знания в этой области были нулевые. Спасибо за курс! “
                li.reviews_slider--item
                    img(src="img/reviews/1.png")
                    p
                        span.reviews_title Олег Корнеев <br>
                        span.reviews_text  “ Отличный спикер! Все очень доступно и понятно объясняет, видно что человеку не все ровно. На все свои вопросы я нашел ответы при том, что изначально знания в этой области были нулевые. Спасибо за курс! “
                li.reviews_slider--item
                    img(src="img/reviews/1.png")
                    p
                        span.reviews_title Олег Корнеев <br>
                        span.reviews_text  “ Отличный спикер! Все очень доступно и понятно объясняет, видно что человеку не все ровно. На все свои вопросы я нашел ответы при том, что изначально знания в этой области были нулевые. Спасибо за курс! “
                li.reviews_slider--item
                    img(src="img/reviews/1.png")
                    p
                        span.reviews_title Олег Корнеев <br>
                        | “ Отличный спикер! Все очень доступно и понятно объясняет, видно что человеку не все ровно. На все свои вопросы я нашел ответы при том, что изначально знания в этой области были нулевые. Спасибо за курс! “