mixin study-section()
	section.study-section
		div.rhombus-study
		img#cloud-study.cloud-study(src='../img/study-section/cloud.png')
		img#birds-study.birds-study(src='../img/study-section/birds.png')
		.container
			h2.container--study__title.animatable.fadeInUp  ВЫ НАУЧИТЕСЬ
			.container--study
				#timeline
					.timeline-block

						.timeline-year.right.timeline-year--micro-first
						// timeline-year
						.timeline-content.timeline-content--first
							div.timeline-about-speacker.timeline-about-speacker--right
								img(src='../img/study-section/1.png')
								div
									div.timeline-about-speacker__title Алексей Волковский
									div.timeline-about-speacker__date 15 февраля 2018
									div.timeline-about-speacker__time 17:00 - 19:00
							div.timeline-about-speacker__description
								div.title-inner Инвестировать в перспективное ICO
								div.description Вы станете полноценным бизнес ангелом и сможете инвестировать только в перспективные ICO стартапы
								div.title-inner Создать свое ICO
								div.description Сможете самостоятельно создать свое ICO.
								div.title-inner Эфективная покупка токенов
								div.description Покупать токены на этапе Pre ICO по бросовым ценам, и если проект действительно интересный, а оказываемые им услуги носят ценный характер, в перспективе можно продать их значительно дороже.
						// timeline-content
					// timeline-block
					.timeline-block
						.timeline-year.left.timeline-year--micro-second

						// timeline-year
						.timeline-content.timeline-content--second
							div.timeline-about-speacker.timeline-about-speacker--right
								img(src='../img/study-section/2.png')
								div
									div.timeline-about-speacker__title Игорь Перция
									div.timeline-about-speacker__date 19 февраля 2018
									div.timeline-about-speacker__time 17:00 - 19:00
							div.timeline-about-speacker__description
								div.title-inner Маркетинг - значительная часть успеха ICO
								div.description Разберетесь в вопросах маркетинга   связанных c ICO
						// timeline-content
					// timeline-block
					.timeline-block
						.timeline-year.right.timeline-year--micro-third

						// timeline-year
						.timeline-content.timeline-content--third
							div.timeline-about-speacker.timeline-about-speacker--right
								img(src='../img/study-section/3.png')

								div
									div.timeline-about-speacker__title Роман Яковлев
									div.timeline-about-speacker__date 22 февраля 2018
									div.timeline-about-speacker__time 17:00 - 19:00
							div.timeline-about-speacker__description
								div.title-inner Юридические аспекты ICO
								div.description Разберетесь в юридических аспектах   связанных c ICO
						// timeline-content
					// timeline-block
					.timeline-block
						.timeline-year.left.timeline-year--micro-fourth

						// timeline-year
						.timeline-content.timeline-content--fourth
							div.timeline-about-speacker.timeline-about-speacker--right
								img(src='../img/study-section/4.png')

								div
									div.timeline-about-speacker__title Александр Симан
									div.timeline-about-speacker__date 28 февраля 2018
									div.timeline-about-speacker__time 17:00 - 19:00
							div.timeline-about-speacker__description
								div.title-inner Технические аспекты создания ICO
								div.description Сможете понимать технические аспекты создания ICO для инвесторов.
						// timeline-content
					// timeline-block
				// timeline

			a(href="#" class="btn btn--study") ЗАПИСАТЬСЯ НА КУРС