mixin study-section()
	section.study-section
		div.rhombus-study
		.container
			.container--study
				#timeline



					.timeline-block

						.timeline-year.right
						// timeline-year
						.timeline-content
							div.timeline-about-speacker.timeline-about-speacker--right
								img(src='../img/study-section/1.png')
								div.timeline-about-speacker__title Алексей Волковский
								div.timeline-about-speacker__date
									div 15 февраля 2018
									div 17:00 - 19:00
							div
								span.title Инвестировать в перспективное ICO
								span.description Вы станете полноценным бизнес ангелом и сможете инвестировать только в перспективные ICO стартапы
								span.title Создать свое ICO
								span.description Сможете самостоятельно создать свое ICO.
								span.title Эфективная покупка токенов
								span.description Покупать токены на этапе Pre ICO по бросовым ценам, и если проект действительно интересный, а оказываемые им услуги носят ценный характер, в перспективе можно продать их значительно дороже.
						// timeline-content
					// timeline-block
					.timeline-block
						.timeline-year.left

						// timeline-year
						.timeline-content
							div.timeline-about-speacker.timeline-about-speacker--right
								img(src='../img/study-section/1.png')
								div.timeline-about-speacker__title Алексей Волковский
								div.timeline-about-speacker__date
									div 15 февраля 2018
									div 17:00 - 19:00
							div
								| Em 2003, o
								strong SAVEAL
								|  incorpora a avaliação da 8ª série do ensino fundamental e do 3º ano do ensino médio.
						// timeline-content
					// timeline-block
					.timeline-block
						.timeline-year.right

						// timeline-year
						.timeline-content
							div.timeline-about-speacker.timeline-about-speacker--right
								img(src='../img/study-section/1.png')
								div.timeline-about-speacker__title Алексей Волковский
								div.timeline-about-speacker__date
									div 15 февраля 2018
									div 17:00 - 19:00
							div
								| Em 2005, de modo complementar à Prova Brasil, o
								strong SAVEAL
								|  avalia o 5º e 9º anos do ensino fundamental, mas somente escolas estaduais urbanas com mais de 5 e menos de 30 estudantes por ano de escolaridade e escolas estaduais rurais com mais de 5 estudantes por ano de escolaridade integram o Sistema.
						// timeline-content
					// timeline-block
					.timeline-block
						.timeline-year.left

						// timeline-year
						.timeline-content
							div.timeline-about-speacker.timeline-about-speacker--right
								img(src='../img/study-section/1.png')
								div.timeline-about-speacker__title Алексей Волковский
								div.timeline-about-speacker__date
									div 15 февраля 2018
									div 17:00 - 19:00
							div
								| Em 2011, o
								strong SAVEAL
								|  repete a observação dos mesmos anos de escolaridade, mas incorporando todas as escolas da rede pública estadual.
						// timeline-content
					// timeline-block
				// timeline

