mixin timer()
    div( id="countdown")
        div(class="cd-box")
            p(class="numbers days") 00
            p(class="strings timeRefDays") дней
        div(class="cd-box")
            p(class="numbers hours") 00
            p(class="strings timeRefHours") часов
        div(class="cd-box")
            p(class="numbers minutes") 00
            p(class="strings timeRefMinutes") минут
        div(class="cd-box")
            p(class="numbers seconds") 00
            p(class="strings timeRefSeconds") cекунд
