mixin video-popup()
	div.video-popup(data-popup="popup-1")
		div.video-popup__container
			a.close-button(href='#' data-popup-close="popup-1")
				.in
					.close-button-block
					.close-button-block
				.out
					.close-button-block
					.close-button-block

			div.video-popup__container__rhombus_first
			div.video-popup__container__rhombus_second
			div.video-popup__container__rhombus_third
			div.video-popup__container__rhombus_fourth
			div.video-popup__container__rhombus_fivth
			h2.video-popup__container__title ВИДЕОПРИГЛАШУНИЕ
			p.video-popup__container__sub-title от Алексея Волковского
			div.video-popup__container__iframe-block.youtube#68hhBVBWIAw
				img.video-play(src='../img/video-popup/play.png')
				div.video-popup__speaker-description А. Волковский. Предприниматель, консультант, криптоинвестор, бизнес-аналитик. Креативный кризис-менеджмент (консультант) более чем в 50+ проектах. 
			a(href='').btn.btn--video-popup КУПИТЬ КУРС

	div.video-popup(data-popup="popup-2")
		div.video-popup__container
			a.close-button(href='#' data-popup-close="popup-2")
				.in
					.close-button-block
					.close-button-block
				.out
					.close-button-block
					.close-button-block

			div.video-popup__container__rhombus_first
			div.video-popup__container__rhombus_second
			div.video-popup__container__rhombus_third
			div.video-popup__container__rhombus_fourth
			div.video-popup__container__rhombus_fivth
			h2.video-popup__container__title ВИДЕОПРИГЛАШУНИЕ
			p.video-popup__container__sub-title от Романа Яковлева
			div.video-popup__container__iframe-block.youtube#Jw_GTliQos0
				img.video-play(src='../img/video-popup/play.png')
				div.video-popup__speaker-description А. Волковский. Предприниматель, консультант, криптоинвестор, бизнес-аналитик. Креативный кризис-менеджмент (консультант) более чем в 50+ проектах. 
			a(href='').btn.btn--video-popup КУПИТЬ КУРС


	div.video-popup(data-popup="popup-3")
		div.video-popup__container
			a.close-button(href='#' data-popup-close="popup-3")
				.in
					.close-button-block
					.close-button-block
				.out
					.close-button-block
					.close-button-block

			div.video-popup__container__rhombus_first
			div.video-popup__container__rhombus_second
			div.video-popup__container__rhombus_third
			div.video-popup__container__rhombus_fourth
			div.video-popup__container__rhombus_fivth
			h2.video-popup__container__title ВИДЕОПРИГЛАШУНИЕ
			p.video-popup__container__sub-title от Александра Симана
			div.video-popup__container__iframe-block.youtube#dim7_HyH2iw
				img.video-play(src='../img/video-popup/play.png')
				div.video-popup__speaker-description А. Волковский. Предприниматель, консультант, криптоинвестор, бизнес-аналитик. Креативный кризис-менеджмент (консультант) более чем в 50+ проектах. 
			a(href='').btn.btn--video-popup КУПИТЬ КУРС

	div.video-popup(data-popup="popup-4")
		div.video-popup__container
			a.close-button(href='#' data-popup-close="popup-4")
				.in
					.close-button-block
					.close-button-block
				.out
					.close-button-block
					.close-button-block

			div.video-popup__container__rhombus_first
			div.video-popup__container__rhombus_second
			div.video-popup__container__rhombus_third
			div.video-popup__container__rhombus_fourth
			div.video-popup__container__rhombus_fivth
			h2.video-popup__container__title ВИДЕОПРИГЛАШУНИЕ
			p.video-popup__container__sub-title от Игоря Пертции
			div.video-popup__container__iframe-block.youtube#zrOcGsu9W-M
				img.video-play(src='../img/video-popup/play.png')
				div.video-popup__speaker-description А. Волковский. Предприниматель, консультант, криптоинвестор, бизнес-аналитик. Креативный кризис-менеджмент (консультант) более чем в 50+ проектах. 
			a(href='').btn.btn--video-popup КУПИТЬ КУРС
