mixin error-section()
	section.error-section
		div.rhombus-buy--first.rhombus-buy--first--error
		div.rhombus-buy--second.rhombus-buy--second--error
		div.rhombus-buy--third.rhombus-buy--third--error
		div.rhombus-buy--fourth.rhombus-buy--fourth--error
		div.rhombus-buy--fivth.rhombus-buy--fivth--error
		div.container.container-error

			div.container-error__inner
				h1.container-error__inner__title Ошибка
				div.container-error__inner__description К сожалению, Вы не смогли совершить оплату. Пожалуйста, повторите попытку еще раз, внимательно сверив номер карты и
					span.cvv CVV

					| код на обратной стороне карты. Если проблема осталась Вы можете связаться с нами по номеру телефона
					span.phone +38 044 360 16 96
					| или задайте вопрос нашему консультанту в чат.






