include hamburger

mixin header()
	header.header
		div.container
			nav.nav-header
				ul
					li
						a(href='/').logo
							img(src="img/header/logo.png")
					li
						a(href="#").header-link о курсе
					li
						a(href="#").header-link цели и результаты
					li
						a(href="#").header-link спикеры
					li.hamburger_item
						+hamburger()
					li
						a(href="#").header-link что вы получите
					li
						a(href="#").header-link отзывы
					li
						a(href="#").header-link контакты
					li
						a(href="#").btn купить курс
