mixin nav()
  menu.nav
    a.close-button--menu
      .in
        .close-button--menu-block
        .close-button--menu-block
      .out
        .close-button--menu-block
        .close-button--menu-block
    nav.nav-wrap
      ul
        li
          a.link-menu(href="/video.html") о курсе 
        li
          a.link-menu(href="/index.html#promotion-section")  цели и результаты
        li
          a.link-menu(href="/index.html#marketing-section")  спикеры
        li
          a.link-menu(href="#")  что вы получите
        li
          a.link-menu(href="/index.html#footer") отзывы
        li
          a.link-menu(href="/index.html#footer") контакты
