//variable for base font-size
$main-fs: 16px;
$h1-fs: 110px;
$h2-fs: 72px;
$h3-fs: 38px;

//variable for base font-family
$aa-bold: "AAvaneBold";
$mpb: "mpb";
$mpr: "mpr";
//Width variables

$container-width: 1200px;
$laptop-width: 1280px;
$desktop-width: 1024px;
$desktop-min-width: 998px;
$tablet-width: 768px;
$mobile-big-width: 480px;
$mobile-small-width: 320px;

$small-media: 'screen and (max-width: $mobile-small-width)';
$medium-media: 'screen and (max-width: $mobile-big-width)';
$tablet-media: 'screen and (max-width: $tablet-width)';
$desktop-media: 'screen and (max-width: $desktop-width)';
$container-media: 'screen and (max-width: $container-width)';

// brand colors
$red-primary: #ff0000;
$red-secondary: #be2021;
$orange: #fda625;
$grey: #7a7c7c;

// mixins
@mixin respond-to($media) {
	@media only screen and #{$media} {
		@content;
	}
}


@mixin flex-mixin($justify, $align, $flow){
	display: flex;
	justify-content: $justify;
	align-items:$align;
	flex-flow: $flow;
}

@mixin button-mixin($bg-color, $color, $paddings) {
	padding: $paddings;
	background-color: $bg-color;
	border: 0;
	outline: none;
	font-weight: 600;
	color: $color;
	text-align: center;
	text-transform: uppercase;
}




//=================default===============

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:active {
		text-decoration: none;
	}
	&:focus{
		text-decoration: none;
	}
}

.clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.btn{
	display: block;
	text-align: center;
	text-transform: uppercase;
	width: 170px;
	height: 45px;
	background-color: $red-secondary;
	color: #fff;
	font-size: 18px;
	line-height: 45px;
	transition: .25s;
	&:hover{
		background-color: $red-primary;
		color: #eee;
		transition: .25s;
	}
}
h2{
	 font-family: mpb;
	 @media (max-width:$laptop-width ) {
		 font-size: 50px!important;
	 }

	@media (max-width:$mobile-big-width ) {
		font-size: 35px!important;
	}
 }
h3{
	font-family: mpb;
	@media (max-width:$laptop-width ) {
		font-size: 35px!important;
	}
	@media (max-width:$mobile-big-width ) {
		font-size: 25px!important;
		text-transform: uppercase;
	}
}
.container {
	width: $container-width;
	margin: 0 auto;
	@media (max-width:$container-width ) {
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}
	&-inner {
		display: flex;
		box-sizing: border-box;
		flex-wrap: wrap;
		width: 100%;
		margin-right: -15px;
		margin-left: -15px;
	}
}

.column {
	position: relative;
	padding: 0 15px;
	box-sizing: border-box;
	&--two-items {
		width: 50%;

	}
	&--tree-items {
		width: 33.333333333333%;
	}
	&--four-items {
		width: 25%;
	}
}
