@font-face{
  font-family: "MyaridProBold";
  src: url("fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face{
  font-family: "MyaridProReg";
  src: url("fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf");
  font-style: normal;
  font-weight: 400;
}

